<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                    class="purecounter"></span>
                <p>Ulanyjylar</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="11500" data-purecounter-duration="1"
                    class="purecounter"></span>
                <p>Harytlar</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
                    class="purecounter"></span>
                <p>Söwda nokatlary</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                    class="purecounter"></span>
                <p>Işgärler</p>
            </div>

        </div>

    </div>
</section>