<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <span>Beyanlar</span>
            <h2>Beyanlar</h2>
            <p>Siz hem öz beýanyňyzy galdyryp bilersiňiz, ilki registrasiýa etmeli bolýaňyz.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Gurluşyk Materiallar" biziň bilen işleşen iň oňat baş potratçylardan biridir. Tutuş topar
                            tertipde we býudjetiň çäginde galmak bilen ajaýyp hil taslamasyny sypaýyçylyk bilen berdi.
                            Ýakyn geljekde olar bilen ýene-de işleşeris diýip umyt edýäris!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Sadyyan Rahimow</h3>
                        <h4>Ceo &amp; Esaslandyryjy</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Diňe işlemek üçin gaty gyzykly bolanyňyz we SPS üçin 16-njy gatda gurlan iň oňat garaýyşly
                            rok ýyldyzlary bolanyňyz üçin hemmäňize sag bolsun aýdasym geldi. Hemmäňiziň her hepde
                            ýüzüňize ýylgyryş bilen stoluň başyna gelmegiňiz we haýsy meseläni çözmäge taýyn bolmagyňyz
                            meniň üçin gaty manyly.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Emmi</h3>
                        <h4>Operator</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Gurluşyk işinde ýol görkezeniňiz, hoşniýetli, düşünişýän we zerurlyklarymyzy
                            kanagatlandyrmaga hemişe taýyn bolanyňyz üçin sag bolsun aýdýaryn. Täze giňişligimizi gowy
                            görýäris we iň gowulary tarapyndan gurlandygyny bilýäris!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Sarah</h3>
                        <h4>Bezegçi</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            “Greiner Construction” toparynyň höwesi we yhlasy üçin arçdel kwartirasynyň howlusyny bu
                            binada ýaşaýan ýaşlar üçin şeýle ajaýyp, ajaýyp howly we oýun meýdançasyna doly
                            öwürenlerinde, minnetdarlyk we minnetdarlyk derejämizi sözler bilen düşündirip bolmaz.
                            Täzelenişiň her tarapyna giren alada, rehimdarlyk we alada hakykatdanam ylham beriji boldy.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Jimmi kerri</h3>
                        <h4>Dörediji</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Minneapolisde bu ýerde ajaýyp gün we täze ady üýtgedilen PwC Plazada PwCs täze ofisiniň
                            ajaýyp açylyşy. Toparyňyz haýran galdyryjy bir iş etdi - bilýärin, soňky hepdelerde her
                            kimiň aýdyşy ýaly “ýerine ýetirmek” üçin bir ýere jemlenendigini bilýärin - sizem etdiňiz!
                            Boş ýer owadan - iň ýokary hilli ussatlyk - haýran galdyryjy dizaýn - her bir ownuk
                            jikme-jiklik hakda oýlanýar we ýerine ýetirilýär. Biz, PwC-de, hemmäňize sag bolsun aýdyp
                            bilmeris!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>Guwanç Durdy</h3>
                        <h4>Baş menejer</h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>