<!-- Işgär Goşmak üçin Modal-->
<div class="modal fade" id="isgarGosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Täze işgär goşmak</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-5">
                    <form class="user" method="post" action="/dt_employees">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="name"
                                    placeholder="First Name" name="name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="surname"
                                    placeholder="Last Name" name="surname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="date" class="form-control form-control-user" id="birthDate"
                                    placeholder="Doglan senesi" name="birthDate">
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control form-control-user" id="hiredDate"
                                    placeholder="Işe alnan senesi senesi" name="hiredDate"
                                    alt="Işe alnan senesi senesi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="job" placeholder="Hünäri"
                                    name="job">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" step="0.0001" class="form-control form-control-user" id="salary"
                                    placeholder="Aýlygy" name="salary">
                            </div>
                        </div>
                        <button class="btn btn-success btn-user btn-block">
                            Registrasiýa etmek
                        </button>
                        <a class="btn btn-secondary btn-user btn-block" data-dismiss="modal">
                            Yza
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>