<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>
                <%= headTitle %>
            </h2>
            <ol>
                <li><a href="/">Esasy</a></li>
                <li>
                    <%= subTitle %>
                </li>
            </ol>
        </div>

    </div>
</section>