<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- main content -->
    <div id="content">

        <%- include('../includes/topbar')%>
            <!-- end of topbar -->

            <!-- Begin page content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div class="card mb-0 py-0 border-left-danger">
                        <div class="card-body">
                            <h1 class="h3 mb-0 text-gray-800">Alyş-çalşyk</h1>
                        </div>
                    </div>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Hasabat bermek</a>
                </div>

                <!-- Content Row -->
                <div class="row"></div>
            </div>
            <!-- ./container fluid -->
    </div>
    <!-- end of main content -->

    <%- include('../includes/footer.ejs')%>
        <!-- End of Footer -->
</div>