<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

        <%- include('../includes/topbar.ejs')%>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div class="card mb-0 py-0 border-left-success">
                        <div class="card-body">
                            <h1 class="h3 mb-0 text-gray-800">Ulanyjylary Dolandyrmak</h1>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Area Chart görnüşinde</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                                <hr>
                                <code>BMS ulgamyndaky ulanyjylaryň her aýdaky görkezijisi.</code>
                            </div>
                        </div>
                    </div>

                    <!-- Doughnut Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Doughnut Chart görnüşinde</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <hr>
                                <code>Ähli Merkezler boýunça ulanyjylaryň platformadaky sanawy.</code>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Datatable -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead class="table-secondary">
                                    <tr>
                                        <th scope="col">Hasaby (TMT)</th>
                                        <th scope="col">Kart nomer</th>
                                        <th scope="col">Ady</th>
                                        <th scope="col">Familýa</th>
                                        <th scope="col">Doglan sene</th>
                                        <th scope="col">Passport seriýa</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <%- include('../includes/footer.ejs')%>
        <!-- End of Footer -->
</div>