<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

        <%- include('../includes/topbar.ejs')%>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Ulanyjylar Sanawy</h1>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead class="table-secondary">
                                    <tr>
                                        <th scope="col">Hasaby (TMT)</th>
                                        <th scope="col">Kart nomer</th>
                                        <th scope="col">Ady</th>
                                        <th scope="col">Familýa</th>
                                        <th scope="col">Doglan sene</th>
                                        <th scope="col">Passport seriýa</th>
                                    </tr>
                                <tbody>
                                    <tr>
                                        <td>100000.00</td>
                                        <td>9934-xxxx-xxxx-xxxx</td>
                                        <td>Hushnudbek</td>
                                        <td>Rahimow</td>
                                        <td>29.02.2000</td>
                                        <td>I-DZ xxxxxx</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                        <td>9934-xxxx-xxxx-xxxx</td>
                                        <td>Aman</td>
                                        <td>Amanow</td>
                                        <td>01.01.2000</td>
                                        <td>I-LB xxxxxx</td>
                                    </tr>
                                    <tr>
                                        <td>999999.50</td>
                                        <td>9934-1234-5678-9012</td>
                                        <td>Aman</td>
                                        <td>Amanow</td>
                                        <td>02.02.2002</td>
                                        <td>I-MR xxxxxx</td>
                                    </tr>
                                </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <%- include('../includes/footer.ejs')%>
        <!-- End of Footer -->
</div>